/* Use rgb colors rather than color names */
html {
  background-color: rgb(245, 251, 252);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  font-size: 18px;
  background-color: rgb(248, 240, 229);
  margin: 10px auto;
  margin-bottom: 30px;
  border: 1px solid black;
  padding: 20px;
  width: 80%;
  overflow: hidden; /* katkaisee kuvan */
}

h1,
h2 {
  text-align: center;
}

nav {
  height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

#dog {
  width: 100%;
  height: 200px;
  /* Sovita kuvan koko, cover leikkaa kuvan, ja contain sovittaa pystysuunnassa (pienentää) */
  object-fit: cover;
}

/* unvisited link */
a:link,
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
  background-color: beige;
}

/* selected link */
a:active {
  color: blue;
}

/* Link */
a {
  text-decoration: none;
  background-color: rgb(219, 219, 219);
  padding: 10px;
  margin: 5px;
}

.info {
  background-color: rgb(186, 241, 215);
  padding: 5px;
}

/* dot means class, multiple classes per element are allowed */
.card {
  background-color: rgb(252, 188, 227);
  width: 200px;
  height: 300px;
  margin: 10px auto; /* 10px tulee ylös ja alas, sivut skaalautuu automaattisesti (keskittää) */
  margin-bottom: 30px;
  border-radius: 5%;
  overflow: hidden; /* tällä voi leikata kuvan, ja näkyy kortin pyöristykset */
}

.card-image {
  width: 100%;
}

/* # means id, only one id per element */
#sale {
  background-color: rgba(250, 109, 109, 0.842);
  font-size: 20px;
}

.container {
  display: flex; /* vierekkäin */
  overflow: hidden;
  justify-content: space-around;
}

.item {
  background-color: rgb(214, 189, 238);
  width: 100px;
  height: 100px;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

th,
td {
  padding: 5x;
  border: 1px solid #e0e0e0;
}

th {
  background-color: rgb(230, 168, 248);
}

/* Table background */
tr:nth-child(even) {
  background-color: rgb(220, 220, 220);
}

tr:hover {
  background-color: rgb(243, 170, 170);
}

footer {
  display: flex;
  color: #000;
  height: 100px;
  background-color: rgb(175, 213, 247);
  justify-content: center;
  align-items: center;
}
